In [134]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [171]:
df = pd.read_csv('wellcome.csv', encoding='latin1', header=0)
df.rename(columns = {"COST (£) charged to Wellcome (inc VAT when charged)":"cost"}, inplace = 1)
df.head(5)

,PMID/PMCID,Publisher,Journal title,Article title,cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

determine the five most common journals and the total articles for each.

In [172]:
df.groupby("Journal title").count().sort_values(by = "Article title", ascending = 0).head(5)

,PMID/PMCID,Publisher,Article title,cost
Journal title,,,,
PLoS One,91,92,92,92
PLoS ONE,62,62,62,62
Journal of Biological Chemistry,47,48,48,48
Nucleic Acids Research,20,21,21,21
Proceedings of the National Academy of Sciences,19,19,19,19

In [173]:
# it seems that some journals are under different fonts and therefore regsitering as different ones
def to_lower(x):
    return str(x).lower


#temp = df["Journal title"].str.lower()
temp = df["Journal title"].str.capitalize()
df["Journal title"] = temp
df.head(5)

,PMID/PMCID,Publisher,Journal title,Article title,cost
0,NaN,CUP,Psychological medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J med chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J med chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J org chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [144]:
df.groupby("Journal title").count().sort_values(by = "Article title", ascending = 0).head(5)

                                 PMID/PMCID  Publisher  Article title  cost
Journal title
Plos one                                188        190            190   190
Journal of biological chemistry          52         53             53    53
Neuroimage                               28         29             29    29
Plos genetics                            23         24             24    24
Plos pathogens                           24         24             24    24

# better :)

Next, calculate the mean, median, and standard deviation of the open-access cost per article for each journal

In [184]:
# need to first convert the entries in the cost column into numeric values
temp = df.cost.str.strip("£")
df.cost = temp
#there are entries in dollar instead of pounds, need to convert the values
temp = df.cost.str.strip("$")
df.cost = temp
temp = df.cost.apply(lambda x: float(x))
df.cost = temp

In [185]:
df.cost.head(5)

0       0.00
1    2381.04
2     642.56
3     669.64
4     685.88
Name: cost, dtype: float64

In [193]:
df.groupby("Journal title")
df.groupby("Journal title").count().sort_values(by = "Article title", ascending = 0).cost.describe()

count    928.000000
mean       2.290948
std        6.908045
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max      190.000000
Name: cost, dtype: float64

For a real bonus round, identify the open access prices paid by subject area.