data from https://ucr.fbi.gov/crime-in-the-u.s/2013/crime-in-the-u.s.-2013/tables/table-8/table-8-state-cuts/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls

Prepare this data to model with multivariable regression (including data cleaning if necessary) according to this specification:

Propertycrime=Î±+Population+Population2+Murder+Robbery

The 'population' variable is already set for you, but you will need to create the last three features. Robbery and Murder are currently continuous variables. For this model, please use these variables to create categorical features where values greater than 0 are coded 1, and values equal to 0 are coded 0. You'll use this data and model in a later assignment- for now, just write the code you need to get the data ready. Don't forget basic data cleaning procedures, either! Do some graphing to see if there are any anomalous cases, and decide how you want to deal with them.

In [36]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [41]:
df = pd.DataFrame(pd.read_excel("ny_crime.xls", skiprows = 4))
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.0,0.0,0.0,nan,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,nan,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,nan,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,nan,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,nan
4,Albion Village,6388.0,23.0,0.0,nan,3.0,4.0,16.0,223.0,53.0,165.0,5.0,nan

In [67]:
df_clean = df.rename(columns={ df.columns[2]: "violent_crime",df.columns[3]: "murder",
                    df.columns[4]: "rape",df.columns[5]: "rape2",
                    df.columns[7]: "A_assault",df.columns[8]: "property_crime",
                    df.columns[10]: "larceny_theft",df.columns[11]: "motor_theft"})

columns_to_drop = {"City", "violent_crime", "rape", "rape2", "A_assault", "Arson3", "Burglary", "larceny_theft", "motor_theft"}
df_use = df_clean.drop(columns_to_drop, axis = 1).dropna()

df_use.head()

   Population  murder  Robbery  property_crime  Population_sqrd
0      1861.0     0.0      0.0            12.0        3463321.0
1      2577.0     0.0      0.0            24.0        6640929.0
2      2846.0     0.0      0.0            16.0        8099716.0
3     97956.0     8.0    227.0          4090.0     9595377936.0
4      6388.0     0.0      4.0           223.0       40806544.0

In [44]:
df["Population_sqrd"] = df["Population"] **2

In [70]:
df_use["robbery_cat"] = np.where(df_use["Robbery"] != 0, 1, 0)
df_use["murder_cat"] = np.where(df_use["murder"] != 0, 1, 0)
df_use.head()

,Population,murder,Robbery,property_crime,Population_sqrd,robbery_cat,murder_cat
0,1861.0,0.0,0.0,12.0,3463321.0,0,0
1,2577.0,0.0,0.0,24.0,6640929.0,0,0
2,2846.0,0.0,0.0,16.0,8099716.0,0,0
3,97956.0,8.0,227.0,4090.0,9595377936.0,1,1
4,6388.0,0.0,4.0,223.0,40806544.0,1,0